body {
  position: relative;
  margin: 0;
  padding: 2rem 0 0 0;
  background: rgb(182, 251, 236);
  background: linear-gradient(
    140deg,
    rgba(182, 251, 236, 1) 35%,
    rgba(239, 254, 200, 1) 100%
  );
  width: 100%;
  min-height: 100vh;
}

body::after {
  content: '';
  background-image: url('/background1.png');
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

@font-face { 
  font-family: "pokemon"; 
  src: url('../app/fonts/pokemon/Pokemon.ttf'); 
  font-weight: normal; 
  font-style: normal; 
} 